mat-card {
    text-align: left;
    margin-top: 1vh;
    margin-bottom: 1vh;

    -webkit-animation: fadein 2s;
    animation: fadein 1s;

}
@keyframes fadein {
    0% { opacity: 0;}
    100%  { opacity: 1;}
}
@keyframes fadefromcorrect {
    0% { background-color: #49AA19; }
    100% { background-color: white; }
}
@keyframes fadefromincorrect {
    0% { background-color: #FA4934; }
    100% { background-color: white; }
}


.correct-answer {
    -webkit-animation: fadefromcorrect 2s ;
    animation: fadefromcorrect 2s;
}
.incorrect-answer {
    -webkit-animation: fadefromincorrect 2s ;
    animation: fadefromincorrect 2s;
}