<mat-card>
    <p>How would you like to practice?</p>
    <mat-list>
        <mat-list-item>
            <button mat-button>
                Quick 10
            </button>
        </mat-list-item>
        <mat-list-item>
            <button mat-button>
                Practice chapters
            </button>
        </mat-list-item>
        <mat-list-item>
            <button mat-button>
                Practice exams
            </button>
        </mat-list-item>
        <mat-list-item>
            <button mat-button>
                Create custom exam
            </button>
        </mat-list-item>
    </mat-list>
<mat-tab-group mat-align-tabs="center">
    <mat-tab label="STC">
        <mat-list>
            <mat-list-item>
                <mat-checkbox>Chapter 1</mat-checkbox>
            </mat-list-item>
            <mat-list-item>
                <mat-checkbox>Chapter 2</mat-checkbox>
            </mat-list-item>
            <mat-list-item>
                <mat-checkbox>Chapter 3</mat-checkbox>
            </mat-list-item>
            <mat-list-item>
                <mat-checkbox>Chapter 4</mat-checkbox>
            </mat-list-item>
            <mat-list-item>
                <mat-checkbox>Chapter 5</mat-checkbox>
            </mat-list-item>
            <mat-list-item>
                <mat-checkbox>Chapter 6</mat-checkbox>
            </mat-list-item>
            <mat-list-item>
                <mat-checkbox>Chapter 7</mat-checkbox>
            </mat-list-item>
            <mat-list-item>
                <mat-checkbox>Chapter 8</mat-checkbox>
            </mat-list-item>
        </mat-list>
    </mat-tab>
    <mat-tab label="Knopman">
        <mat-card>
            <h1>
                Under construction
            </h1>
        </mat-card>
    </mat-tab>
    <mat-tab label="pp">
        <mat-card>
            <h1>
                Under construction
            </h1>
        </mat-card>
    </mat-tab>
</mat-tab-group>
<button mat-button>
    Create exam
</button>
</mat-card>