mat-card {
    margin-top: 20px;
    width: 770px;
}
mat-progress-bar {
    width: 600px;
    display: inline-block;
}
button {
    display: inline-block;
}
h3 {
    margin: 0px;
}
#next {
    margin-left:10px;
}
#prev {
    margin-right:10px;
}