mat-card {
    /* margin-top: 20px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom:1vh;
    margin-top:2vh;
}
mat-progress-bar {
    min-width: 50%;
    max-width: 100%;
    flex-grow: 1;
}
button {
    display: inline-block;
}
h3 {
    margin: 0px;
}
#next {
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 4px;
}
#prev {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 4px;
}