app-score {
    width: 92vw;
    margin-top: auto;
}

app-progress {
    width: 92vw;
    /* margin-top: auto; */
}

app-question {
    width: 92vw;

}
app-answer {
    width: 92vw;
}
app-quiz-creator {
    width: 92vw;
    margin-top: 10px;
}

app-toolbar {
    width: 100vw;
}
mat-sidenav-content {
    /* width: auto; */
    height: inherit;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color:  #F7F6F9;
    display: flex;
}
mat-sidenav-container {
    flex-direction: column;
    justify-content: flex-start;
    display: flex;
    height: 100vh;
    width: 100vw;
}