mat-card {
    margin-top: 1vh;
    margin-bottom: 1vh;
    -webkit-animation: fadein 2s;
    animation: fadein 1s;
    background-color: white;

}
@keyframes fadein {
    0% { opacity: 0;}
    100%  { opacity: 1;}
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.example-radio-button {
    margin: 5px;
}

.example-card {
    position: relative;
}

.correct {
    background-color: #43A163;
}
.incorrect {
    background-color: #EE4B23;
}

mat-button-toggle-group {
    width: -webkit-fill-available;
}
mat-button-toggle {
    text-align-last: left;
    margin-left: 0px;
    padding-left: 0px;
    text-align: left;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}

.answer {
    white-space: normal;
}

.badge {
    background-color: gray;
    width: 35px;
    position: absolute;
}

.selected {
    background-color: indigo;
}

.question {
    text-align: -webkit-left;
    overflow: auto;
}

.qid {
    position: absolute;
    overflow: auto;
    right: 0px;
    top: 0px;
    font-size:12px;
    color: grey;
    padding: 5px 5px 0px 0px;
}

::ng-deep .mat-button-toggle-label-content {
    text-align: -webkit-left;
    line-height: 1.5em !important;
}
