<mat-nav-list>
    <a mat-list-item routerLink="/practice" (click)="sidenav.toggle()">Practice</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/lectures" (click)="sidenav.toggle()">Lectures</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/study-plan" (click)="sidenav.toggle()">Study Plan</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/library" (click)="sidenav.toggle()">Books & Texts</a>
    <mat-divider></mat-divider>
</mat-nav-list>